<!DOCTYPE html>
<html>
  <head>
      <title>Movies App</title>
      <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
      <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/css/style.css?suckdick">
  </head>
  <body>

    <div class="container">

      <h1>MOVIES</h1>

      <div id="app">
        <router-view></router-view>
      </div>

    </div>

    <template id="movie-list-template">
      <section class="movie-list" v-show="!movie">

        <section v-if="loadError">
          <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
        </section>

        <section v-else>
          <div v-if="loading">Loading...</div>

          <div v-else>

            <div class="filter">
              <input type="text" class="form-control" v-model="liveFilter" placeholder="Search">
              <h4>Filter by Genre:</h4>
              <div class="row">
                <div class="col-md-6">
                  <select name="" id="" class="form-control" v-model="genreFilter">
                    <option value="">All</option>
                    <option v-for="genre in genres">{{ genre }}</option>
                  </select>
                </div>
              </div>
            </div>

            <div v-for="(movie, i) in moviesFiltered" class="row movie-item">
              <div class="col-md-2 pull">
                <!-- <a :href="movie.IMDb_page_URI" target="_blank"><img :src="movie.IMDb_poster_URI" width="100" :alt="movie.title" :title="movie.title" /></a> -->
                <!-- <a @click="viewMovie(i)"><img :src="movie.IMDb_poster_URI" width="100" :alt="movie.title" :title="movie.title" /></a> -->
                <router-link :to="{name: 'movie', params: {mid: i}}"><img :src="movie.IMDb_poster_URI" width="100" :alt="movie.title" :title="movie.title" /></router-link>
              </div>
              <div class="col-md-9">
                <!-- <h4><a :href="movie.IMDb_page_URI" target="_blank">{{ movie.title }}</h4> -->
                <!-- <h4><a @click="viewMovie(i)">{{ movie.title }}</a></h4> -->
                <h4><router-link :to="{name: 'movie', params: {mid: i}}">{{ movie.title }}</router-link></a></h4>
                <p>
                  <strong>Director:</strong>
                  <ul>
                    <li v-for="person in movie.directors">
                      <a :href="person.IMDb_page_URI" target="_blank">{{ person.name_full }}</a>
                    </li>
                  </ul>
                </p>
                <p>
                  <strong>Cast:</strong>
                  <ul>
                    <li v-for="person in movie.cast">
                      <a :href="person.IMDb_page_URI" target="_blank">{{ person.name_full }}</a>
                    </li>
                  </ul>
                </p>
                <p>
                  <strong>Genres:</strong>
                  <span>{{ movie.genres }}</span>
                </p>
              </div>
            </div>

          </div>
        </section>

      </section>
    </template>

    <template id="single-movie-template">

      <section class="row single-movie" v-show="movie">
        <div class="col-md-5">
          <a :href="movie.IMDb_page_URI" target="_blank"><img :src="movie.IMDb_poster_URI" width="350" :alt="movie.title+' on IMDb.com'" :title="movie.title+' on IMDb.com'" /></a>
        </div>
        <div class="col-md-7">
          <h2>
            <a :href="movie.IMDb_page_URI" :title="movie.title+' on IMDb.com'" target="_blank">{{ movie.title }}</a>
          </h2>
          <div v-html="movie.synopsis"></div>
          <hr />
          <button @click="movie=false" class="btn btn-danger float-right align-bottom">Back to Movie List</button>
        </div>
      </section>

    </template>

<!-- <template id="movie-list-template">

    <a v-link="{ path : 'create' }" class="btn btn-success">Create new movie</a>
    <a v-link="{ path : 'register' }" class="btn btn-primary">Register</a>
    <br>
    <br>
    <div class="filter">
        <input type="text" class="form-control" v-model="liveFilter">
        <h4>Filter by Genre:</h4>
        <div class="row">
            <div class="col-md-6">
                <select name="" id="" class="form-control" v-model="genreFilter">
                    <option value="">All</option>
                    <option v-for="genre in genres">{{ genre }}</option>
                </select>
            </div>
        </div>
    </div>


    <div v-show="loading" transition="loading">Content is loading. Please wait...</div>

    <div class="movie-list" v-show="!movie">
        <div v-for="movie in movies | filterBy liveFilter | filterBy genreFilter" class="row movie-item">
            <div class="col-md-1 pull">
                <img v-bind:src="movie.field_movie_poster[0].url" alt="{{ movie.field_movie_poster[0].alt }}">
            </div>
            <div class="col-md-8">
                <h4><a v-link="{ name: 'movie', params: { movieID: movie.nid[0].value }}">{{ movie.title[0].value }}</a></h4>
                <p>
                    <strong>Director:</strong> {{ movie.field_director[0].value }}
                </p>

                <strong>Actors:</strong><br>
                <span v-for="actor in movie.field_actors">
                    {{ actor.value }}<br>
                </span>
                <hr>
                <strong>Genre:</strong>
                <span v-for="genre in movie.field_genres">
                    {{ genre.value }},
                </span>
            </div>
            <div class="col-md-3">
                <a v-link="{ name: 'delete', params: { movieID: movie.nid[0].value }}" class="btn btn-danger">Delete Movie</a>
                <a v-link="{ name: 'edit', params: { movieID: movie.nid[0].value }}" class="btn btn-primary">Edit Movie</a>
            </div>
        </div>
    </div>

</template>

<template id="single-movie-template">
    <div v-show="loading" transition="loading">Content is loading. Please wait...</div>
    <div class="single-movie" v-show="movie">
        <div class="movie-item" v-for="movieItem in movie">
            <h2>{{ movieItem.title[0].value }}</h2>
            {{{ movieItem.body[0].value }}}
        </div>
    </div>
</template>

<template id="create-movie">
    <h2>Create movie</h2>
    <div class="alert alert-success" v-show="success">You have added a movie.</div>
    <form v-on:submit="createTheMovie">
        <div class="form-group">
            <label>Movie title</label>
            <input type="text" v-model="title" name="title" class="form-control">
        </div>

        <div class="form-group">
            <label>Movie body</label>
            <textarea class="form-control" v-model="body"></textarea>
        </div>

        <button type="submit" class="btn btn-success">Add Movie</button>
    </form>

</template>

<template id="delete-movie">
    <h2>Delete Movie</h2>
    <p>Are you sure?</p>
    <button v-on:click="deleteTheMovie" class="btn btn-danger">Delete</button>
</template>


<template id="edit-movie">
    <h2>Edit movie</h2>

    <form v-on:submit="updateTheMovie">
        <div v-for="movieItem in movie">
            <div class="form-group">
                <label>Movie title</label>
                <input type="text" v-model="title" name="title" value="{{ movieItem.title[0].value }}" class="form-control">
            </div>

            <div class="form-group">
                <label>Movie body</label>
                <textarea v-model="body" class="form-control">{{ movieItem.body[0].value }}</textarea>
            </div>
        </div>

        <button type="submit" class="btn btn-success">Update Movie</button>
    </form>

</template>

<template id="register">
    <h2>Register</h2>

    <div class="alert" v-bind:class="{ 'alert-success': success, 'alert-danger': error}"v-show="message">{{ message }}</div>

    <form v-on:submit="registerUser">
        <div class="form-group">
            <label>Username</label>
            <input type="text" v-model="name" name="name" class="form-control">
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" v-model="email" name="email" class="form-control">
        </div>

         <div class="form-group">
            <label>Password</label>
            <input type="password" v-model="password" name="password" class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Register</button>
    </form>

</template> -->



<!-- <script src="js/vue.js"></script> -->
<!-- <script src="//cdn.jsdelivr.net/npm/vue@1.0.11/dist/vue.min.js"></script> -->
<script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<!-- <script src="js/vue-resource.js"></script> -->
<!-- <script src="//cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script> -->
<!-- vue-resource is DEPRECATED in Vue 2.0, use third party AJAX solution instead -->
<script src="//unpkg.com/axios/dist/axios.min.js"></script>

<!-- <script src="//code.jquery.com/jquery-1.11.3.min.js"></script> -->
<script src="//cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>

<!-- <script src="js/vue-router.js"></script> -->
<script src="//unpkg.com/vue-router/dist/vue-router.js"></script>


<!-- <script src="js/app.js"></script> -->

<script>

var apiURL = "http://drupal-8-5-4.dd:8683/api/movies"
var movies = [];

Vue.config.devtools = true;

var movieList = Vue.extend({
  template: '#movie-list-template',
  data () {
    return {
      movie: false,
      genres: [],
      genreFilter: '',
      loading: true,
      loadError: false,
      liveFilter: '',
      filterBy: {
        'title': true,
        'directors': {
          'name_full': true
        },
        'cast': {
          'name_full': true
        }
      }
    };
  },
  mounted () {
    this.getMovies();
  },
  methods: {
    getMovies () {
      axios
        .get(apiURL)
        .then(response => {
          movies = response.data
        })
        .catch(error => {
          console.log(error)
          this.loadError = true
        })
        .finally(() => {
          var genres = []
          var genresArr = []

          movies.forEach((movie) => {
            genres = movie.genres.split(', ')
            genres.forEach((genre) => {
              if (jQuery.inArray(genre, genresArr) === -1) {
                genresArr.push(genre)
              }
            })
          })

          this.genres = genresArr
          this.genres.sort()
  //          console.log(this.genres)

          this.loading = false
        })
    },
    matchFilter (filterObj, movieNode, field) {
      if (filterObj.hasOwnProperty(field)) {
//          console.log('field: '+field);
//          console.log('movie: '+movieNode[field].toLowerCase()+' title contains '+this.loweredFilter+' '+(movieNode[field].toLowerCase().indexOf(this.loweredFilter) !== -1))
        return movieNode[field].toLowerCase().indexOf(this.loweredFilter) !== -1;
      }
      return false;
    },
  },

  computed: {
    loweredFilter () {
      return this.liveFilter.toLowerCase()
    },
    moviesFiltered () {
      var filteredMovies = movies;
      if (this.genreFilter.length) {
        filteredMovies = filteredMovies.filter((movie) => {
          return movie.genres.indexOf(this.genreFilter) !== -1;
        })
      }
      if (this.liveFilter.length) {
        return filteredMovies.filter((movie) => {
          var matchFound = false;
          for (var k in this.filterBy) {
            if (!matchFound) {
              if (typeof this.filterBy[k] === 'object') {
                for (var kk in this.filterBy[k]) {
                  if (!matchFound) {
                    for (var f in movie[k]) {
                      if (!matchFound) {
                        matchFound = this.matchFilter(this.filterBy[k], movie[k][f], kk);
                      }
                    }
                  }
                }
              } else {
                matchFound = this.matchFilter(this.filterBy, movie, k);
              }
            }
          }
          return matchFound;
        })
      }
      return filteredMovies;
    }
  }
});

var singleMovie = Vue.extend({
  template: '#single-movie-template',
  data () {
    return {
      movie: ''
    }
  },
  mounted () {
    this.getMovie()
  },
  methods: {
    getMovie () {
      alert(movies[this.$route.params.mid]);
//      this.movie = movieList.data.movies[this.$route.params.mid]
    }
  }
});

const routes = [
  {
    name: 'home',
    path: '/',
    component: movieList
  },
  {
    name: 'movie',
    path: '/movie/:mid',
    component: singleMovie
  }
];

Vue.use(VueRouter);

const router = new VueRouter({
  mode: 'hash',
  routes
});

new Vue({
  el: '#app',
  router,
  template: '<router-view></router-view>',
  // render: h => h('router-view'), // I don't understand what "runtime-only" means in this context...
});



/*
var App = Vue.extend({});

var register = Vue.extend({
    template: '#register',

    data: function(){
        return {
            name: '',
            email: '',
            password:'',
            message: '',
            success: '',
            error: ''
        }
    },

    http:{
        headers:{
            'Accept' : 'json',
            'Content-Type' : 'application/hal+json',
            'Authorization' : 'Basic aXZhbjpwYXNzd29yZA=='
        }
    },

    methods: {
        registerUser: function(event){
            event.preventDefault();
            var data = {
                '_links':{
                    'type' : {
                        'href' : 'http://drupal-8-5-4.dd:8683/rest/type/user/user'
                    }
                },
                'name':[
                    {
                        'value' : this.name
                    }
                ],
                'mail':[
                    {
                        'value' : this.email
                    }
                ],
                'pass':[
                    {
                        'value' : this.password
                    }
                ],
                'status':[
                    {
                        'value' : '1'
                    }
                ],
                'roles':[
                    {
                        'target_id' : 'administrator'
                    }
                ]
            }

            this.$http.post('http://drupal-8-5-4.dd:8683/entity/user', data, function(response){
                this.$set('message', 'You have registered! Yaaaay! :)');
                this.$set('success', true)
            }).error(function(response){
                this.$set('message', 'Something went wrong! Please check your info and try again.');
                this.$set('error', true);
            });
        }
    }
})

var editMovie = Vue.extend({
    template: '#edit-movie',

    data: function(){
        return {
            movie: '',
            title: '',
            body: ''
        }
    },

    ready: function(){
        this.getTheMovie();
    },

    methods: {
        getTheMovie: function(){
            this.$http.get(apiURL + '/' + this.$route.params.movieID, function(movie){
                this.$set('movie', movie);
            })
        },

        updateTheMovie: function(event){
            event.preventDefault();
            var data = {
                '_links':{
                    'type' : {
                        'href' : 'http://drupal-8-5-4.dd:8683/rest/type/node/movies'
                    }
                },
                'title':[
                    {
                        'value' : this.title
                    }
                ],
                'body':[
                    {
                        'value' : this.body
                    }
                ]
            }

            this.$http.patch('http://drupal-8-5-4.dd:8683/node/' + this.$route.params.movieID, data, function(response){
                this.$route.router.go('/');
            },{
                headers:{
                    'Accept' : 'json',
                    'Content-Type' : 'application/hal+json',
                    'Authorization' : 'Basic aXZhbjpwYXNzd29yZA=='
                }
            });
        }
    }
})

var deleteMovie = Vue.extend({
    template: '#delete-movie',
    http:{
        headers:{
            'Accept' : 'json',
            'Content-Type' : 'application/hal+json',
            'Authorization' : 'Basic aXZhbjpwYXNzd29yZA=='
        }
    },

    methods:{
        deleteTheMovie: function(){
            this.$http.delete('http://drupal-8-5-4.dd:8683/node/' + this.$route.params.movieID, function(response){
                this.$route.router.go('/');
            })
        }
    }
});

var createMovie = Vue.extend({
    template: '#create-movie',

    data: function(){
        return {
            title: '',
            body: '',
            success:''
        }
    },

    http:{
        headers:{
            'Accept' : 'json',
            'Content-Type' : 'application/hal+json',
            'Authorization' : 'Basic aXZhbjpwYXNzd29yZA=='
        }
    },

    ready: function(){
        //this.createTheMovie();
    },

    methods: {
        createTheMovie: function(event){
            event.preventDefault();
            var data = {
                '_links':{
                    'type' : {
                        'href' : 'http://drupal-8-5-4.dd:8683/rest/type/node/movies'
                    }
                },
                'title':[
                    {
                        'value' : this.title
                    }
                ],
                'body':[
                    {
                        'value' : this.body
                    }
                ]
            }

            this.$http.post('http://drupal-8-5-4.dd:8683/entity/node', data, function(response){
                this.$set('success', 'ok');
                this.$set('title', '');
                this.$set('body', '');
            });
        }
    }
})

var movieList = Vue.extend({
    template: '#movie-list-template',

    data: function() {
        return {
            movies: '',
            liveFilter: '',
            genreFilter: '',
            genres: '',
            movie:'',
            loading: false
        }
    },

    ready: function(){
        this.getMovies();
    },

    methods: {
        getMovies: function(){
            this.$set('movie', '');
            this.$set('loading', true);

            this.$http.get(apiURL, function(movies){
                this.$set('loading', false);
                this.$set('movies', movies);

                genresArr=[];

                jQuery.each(movies, function(index, movie){
                    jQuery.each(movie.field_genres, function(index, genre){
                        if(jQuery.inArray(genre.value, genresArr) === -1) {
                            genresArr.push(genre.value);
                        }
                    });
                });

                this.$set('genres', genresArr);
                //console.log(JSON.stringify(genresArr));

            });
        }
    }
})

var singleMovie = Vue.extend({
    template: '#single-movie-template',

    data: function() {
        return {
            movie:'',
            loading: false
        }
    },

    ready: function(){
        this.getTheMovie();
    },

    methods: {
        getTheMovie: function(){
            this.$set('loading', true);
            this.$http.get(apiURL + '/' + this.$route.params.movieID, function(movie){
                this.$set('loading', false);
                this.$set('movie', movie);
                console.log(JSON.stringify(movie));
            })
        }
    }
})


var router = new VueRouter();

router.map({
    '/':{
        component: movieList
    },
    'create':{
        component: createMovie
    },
    'movie/:movieID':{
        name: 'movie',
        component: singleMovie
    },
    'delete/:movieID':{
        name: 'delete',
        component: deleteMovie
    },
    'edit/:movieID':{
        name: 'edit',
        component: editMovie
    },
    'register':{
        component: register
    },
});

router.start(App, '#app');

*/

/*new Vue({
    el: '#app',

    data: {
        movies: '',
        liveFilter: '',
        genreFilter: '',
        genres: '',
        movie:''
    },

    ready: function(){
        this.getMovies();
    },

    methods: {
        getMovies: function(){
            this.$set('movie', '');
            this.$http.get(apiURL, function(movies){
                this.$set('movies', movies);

                genresArr=[];

                jQuery.each(movies, function(index, movie){
                    jQuery.each(movie.field_genres, function(index, genre){
                        if(jQuery.inArray(genre.value, genresArr) === -1) {
                            genresArr.push(genre.value);
                        }
                    });
                });

                this.$set('genres', genresArr);
                //console.log(JSON.stringify(genresArr));

            });
        },

        getTheMovie: function(movieID){
            this.$http.get(apiURL + '/' + movieID, function(movie){
                this.$set('movie', movie);
                console.log(JSON.stringify(movie));
            })
        }
    }
})*/
</script>


</body>
</html>
